<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Platforma de recrutare</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/modernizr")



    @*--------------------------------------------------------------*@
    @*------------------------------Css-----------------------------*@
    <style type="text/css">
        .corp { /* img fundal pagini */
            background-color: whitesmoke;
            /*background-image: url(/Content/Img/blue1.png);
            background-size: 1600px 1650px;
            background-repeat: no-repeat;*/
        }

        .col-md-4 { /* sectiuni pagina principala */
            padding-top: 20px;
            padding-bottom: 15px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-left: 6px;
            margin-right: 6px;
            color: inherit;
            background-color: white;
        }

        .img-cauta-job {
            margin-left: 15px;
        }

        a.imagn { /* imagine acasa*/
            background-image: url(~/Content/Img/home2.png);
            margin-left: 2%;
        }

        .page-footer { /* footer */
            background-color: transparent;
            padding-bottom: 20px;
            color: black;
            font-size: small;
        }

        .nav { /* a doua bara de sus */
            background-color: transparent;
            font-weight: bold;
            opacity: 0.88;
            color: white;
        }

        .navbar-inverse {
            background-color: white;
            opacity: 0.88;
        }

        .navbar-new { /* bara sus */
            background-color: white;
            /*background-image: url(/Content/Img/purple1.png);*/
            border-color: whitesmoke;
            color: white;
            font-weight: bold;
            height: 95px;
        }

            .navbar-new:hover { /* bara sus */
                font-size: 101%;
                color: Highlight;
            }

        .nav-link-white {
            color: darkslategrey;
        }
    </style>
    @*--------------------------------------------------------------*@
</head>

<body class="corp">
    <div class="navbar-new navbar navbar-fixed-top">
        <div class="col-md-2">
            <img src="~/Content/Img/work1.png" alt="Cauta joburi" height="60" width="70">
        </div>

        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "imagn" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*Acasa*@
                    <li class="nav-item">
                        @*@Html.ActionLink("Acasa", "Index", "Home")*@
                        <a class="nav-link-white" href="@Url.Action("Index","Home")" title="Acasă">
                            <img src="~/Content/Img/home3.png" alt="Acasă" height="29" width="31" />
                            Acasă
                        </a>
                    </li>

                    <li class="nav-item">
                        @*Pagina Joburi*@
                        <a class="nav-link-white" href="@Url.Action("ListaUtilizator","Job")" title="Joburi">
                            <img src="~/Content/Img/jobs2.png" alt="Joburi" height="33" width="34" />
                            Joburi
                        </a>
                    </li>

                    <li class="nav-item">
                        @*Pagina Cariera*@
                        <a class="nav-link-white" href="@Url.Action("Cariera","Home")" title="Carieră">
                            <img src="~/Content/Img/career1.png" alt="Cariera" height="31" width="32" />
                            Carieră
                        </a>
                    </li>

                    <li class="nav-item">
                        @*Intrare Profil Utilizator*@
                        <a class="nav-link-white" data-toggle="tab" href="#profile" title="Profil">
                            <img src="~/Content/Img/profile1.png" alt="Profil" height="29" width="30" />
                            Profil
                        </a>
                    </li>

                    <li class="nav-item">
                        @*Intrare CV*@
                        <a class="nav-link-white" href="#cv" title="CV">
                            <img src="~/Content/Img/ist1.png" alt="CV" height="29" width="31" />
                            CV
                        </a>
                    </li>
                </ul>

                @*Logare*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @*Div Footer*@
        @RenderBody()
        <hr />
        <footer class="page-footer">
            <p>&copy; @DateTime.Now.Year – Sistem de recrutare – LC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
