@*@using SistemRecrutare.Models
@model UtilizatorAngajatViewModel*@


<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*------------------------------css----------------------------*@
    <style type="text/css">
        .btn-register {
            background-color: mediumpurple;
            height: 45px;
            border: none;
            color: white;
            padding: 8px 8px;
            text-align: center;
            font-size: 14px;
            margin: -8px 4px;
            border-radius: 22px;
            opacity: 1;
            transition: 0.7s;
        }

            .btn-register:hover {
                opacity: 0.6
            }

        .dropdown {
            float: left;
            padding-right: 5px;
        }

            .dropdown .dropbtn {
                font-size: 15px;
                border: none;
                outline: none;
                color: darkslategrey;
                padding: 14px 16px;
                background-color: transparent;
                font-family: inherit; /* vertical align */
                margin: 0;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffffff;
            min-width: 180px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 22px;
        }

            /* Links dropdown */
            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* links on hover */
                .dropdown-content a:hover {
                    background-color: #f0e5f0;
                    opacity: 0.85;
                    border-radius: 12px;
                }
        /* dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

         .nume:hover {
                opacity: 0.8;
          }
    </style>
</head>

<body>
    @using Microsoft.AspNet.Identity

    @* --    utilizatorul este autentificat  -- *@
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            @* meniu dropdown*@
            <div class="dropdown">
                <button class="dropbtn">
                    @*@Html.ActionLink("Salut, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                    @*[@User.Identity.Name]*@
                    <div class="nume">
                    <img src="~/Content/Img/profile1.png" alt="Contul meu" height="18" width="19" />
                    @HttpContext.Current.Application["Nume"]
                    </div>

                <div class="dropdown-content">
                    @if (HttpContext.Current.Application["Rol"] == "2")
                    {
                        @* Profil Angajat*@
                        <a @*class="nav-link-white" data-toggle="tab"*@ href="@Url.Action("EditareProfilAngajat", "Account", new { @email = @HttpContext.Current.Application["Email"] })" title="Profil">
                            <img src="~/Content/Img/profil1.png" alt="Profil" height="20" width="21" style="float:left;" />
                            Profil
                        </a>

                        @* CV-uri*@
                        <a href="@Url.Action("IncarcaFisier", "CV", new { @email = @HttpContext.Current.Application["Email"] })" title="Editare CV">
                            <img src="~/Content/Img/ist1.png" alt="CV" height="20" width="22" style="float:left;" />
                            CV-urile mele
                        </a>
                    }

                    @if (HttpContext.Current.Application["Rol"] == "3")
                    {
                        @* Profil Angajator*@
                        <a href="@Url.Action("EditareProfilAngajator", "Account", new { @email = @HttpContext.Current.Application["Email"] })" title="Profil">
                            <img src="~/Content/Img/profil1.png" alt="Profil" height="20" width="21" style="float:left;" />
                            Profil
                        </a>

                        @* Joburi adaugate*@
                        <a href="@Url.Action("ListaAdmin", "Job", new { @angajator = @HttpContext.Current.Application["Nume"]@*, @val_cautare = ""*@ })">
                            <img src="~/Content/Img/lista.png" alt="Joburi adaugate" height="18" width="19" style="float:left;" />
                            Joburi adaugate
                        </a>

                        @* Vezi CVuri*@
                        <a href="#cv" title="Vezi CV-uri">
                            <img src="~/Content/Img/ist1.png" alt="CV" height="20" width="22" style="float:left;" />
                            Vezi CV-uri
                        </a>
                    }

                    @*Iesi din Cont*@
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <img src="~/Content/Img/logout2.png" alt="Profil" height="18" width="19" style="float:left;" />
                        Iesi din Cont
                    </a>
                </div>
            </div>

            @*<ul class="nav navbar-nav navbar-right">*@
            @*<li class="nav-item"> </li>*@
            @*</ul>*@
        }
    }

    @* --   utilizatorul nu este autentificat  -- *@
    else
    {
        <ul class="nav navbar-nav navbar-right">
            @* Buton Cont Nou *@
            <li>
                <%= @Html.ActionLink("Cont Nou", "Inregistrare", "Account", null, new { @class = "btn-register" }) %>
            </li>
            @* Buton Logare *@
            <li>
                <%= @Html.ActionLink("Intră în Cont", "IntraInCont", "Account", null, new { @class = "btn-register" }) %>
            </li>
        </ul>
    }
</body>

<script type="text/javascript">

</script>