@using SistemRecrutare.Models

@model angajator

@{
    ViewBag.Title = "Cont nou";
}

<div class="row" style="background-color:white">
    <div style="text-align:center;">
        <br /><br />
        <h2 class="titlu">@ViewBag.Title</h2>
    </div>

    @* inregistrare efectuata cu succes - mesaj *@
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status) == true)
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Succes!</strong>@ViewBag.Message
            </div>
        }
    }

    @* inregistrare neefectuata - form si mesaj de eroare *@
    else
    {
        using (Html.BeginForm("ContNouAngajator", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div style="text-align:center;">
                <h4 class="subtitlu" style="display:inline-block;">Inregistrare Companie</h4>
                <hr />
                <h4 class="subtitlu" style="display:inline-block; font-weight:bold; color:darkslategrey; opacity:0.75;">Date pentru autentificare pe site</h4>
            </div>

            <div class="aliniament-cp">
                @* E-mail *@
                <div class="form-group">
                    @Html.LabelFor(m => m.email, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.email, new { placeholder = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                        @* eroare e-mail existent*@
                        @Html.ValidationMessage("ExistaEmail", new { @class = "text-danger" })
                    </div>
                </div>

                @* Parola *@
                <div class="form-group">
                    @Html.LabelFor(m => m.parola, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.parola, new { placeholder = "Introduceti Parola", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.parola, "", new { @class = "text-danger" })

                    </div>
                </div>

                @* Confirmare Parola  *@
                <div class="form-group">
                    @Html.LabelFor(m => m.confirma_parola, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.confirma_parola, new { placeholder = "Confirmare Parola", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.confirma_parola, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div style="text-align:center;">
                    <hr />
                    <h4 class="subtitlu" style="display:inline-block; font-weight:bold; color:darkslategrey; opacity:0.75;">Detaliile angajatorului </h4>
                </div>

                @* Numele Companiei *@
                <div class="form-group">
                    @Html.LabelFor(m => m.nume_angajator, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.nume_angajator, new { placeholder = "Numele companiei", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.nume_angajator, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Nr. ordine la registrul Comertului *@
                <div class="form-group">
                    @Html.LabelFor(m => m.nr_ordine_registru_comert, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.nr_ordine_registru_comert, new { placeholder = "Numar de ordine la Registru Comertului", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.nr_ordine_registru_comert, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Telefon *@
                <div class="form-group">
                    @Html.LabelFor(m => m.telefon, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.telefon, new { placeholder = "Telefon", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.telefon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div style="text-align:center;">
                    <hr />
                    <h4 class="subtitlu" style="display:inline-block; font-weight:bold; color:darkslategrey; opacity:0.75;">Adresa sediu social </h4>
                </div>

                @* Tara *@
                <div class="form-group">
                    @Html.LabelFor(m => m.tara_sediu, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.tara_sediu, new { placeholder = "Tara", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.tara_sediu, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Oraș *@
                <div class="form-group">
                    @Html.LabelFor(m => m.oras_sediu, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.oras_sediu, new { placeholder = "Orasul in care se afla sediul", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.oras_sediu, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Adresa *@
                <div class="form-group">
                    @Html.LabelFor(m => m.adresa_sediu, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.adresa_sediu, new { placeholder = "Strada, numarul...", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.adresa_sediu, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @* Creare Cont *@
            <div class="form-group" style="align-content:center;">
                <div class="col-md-offset-2 col-md-10" style="display:inline-block; margin-left:185px;">
                    <input type="submit" class="btn btn-default button" value="Creeaza cont" />
                </div>
            </div>
        }

        if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Eroare!</strong>@ViewBag.Message
            </div>
        }
    }

    @* spre Login *@
    <div style="text-align:center; padding-bottom: 30px;">
        @Html.ActionLink("Ai deja un cont? Conecteaza-te.", "IntraInContAngajator", "Account", null, new { @class = "btn" })
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*-----------------------------------css---------------------------------*@
<style type="text/css">
    .titlu {
        /*margin-left: 49%;*/
        display: inline-block;
        /*margin-bottom: 2%;*/
        font-family: 'Calibri';
        font-weight: bold;
    }

    .subtitlu {
        /*margin-left: 37%;*/
        /*margin-bottom: 2%;*/
        font-family: 'Calibri';
    }

    .button {
        position: relative;
        margin-top: 1%;
        margin-left: 36%;
        margin-bottom: 2%;
        font-family: 'Berlin Sans FB';
        background-color: white;
        color: darkcyan;
    }

    .btn {
        display: inline-block;
    }

    aliniament-cp {
        text-align: center;
    }

    .row {
        opacity: 0.9;
    }

    .control-label {
        display: inline-block;
    }
</style>