@using SistemRecrutare.Models

@model UtilizatorAngajatViewModel

@{
    ViewBag.Title = "Cont nou";
}

@* plugin multiselect & chosen jquery *@
<link rel="stylesheet" href="//cdn.jsdelivr.net/chosen/1.1.0/chosen.css" />
<link rel="stylesheet" href="~/Content/chosen.min.css" />

<script type="text/javascript" src="//cdn.jsdelivr.net/chosen/1.1.0/chosen.jquery.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/chosen.jquery.min.js"></script>

<body>
<div class="row" style="background-color:white; margin-left:-50px;margin-right:-50px;">
    <div text-align:center;">
        <br /><br />
        <h2 class="titlu" style="">@ViewBag.Title</h2>
    </div>
   
    @* inregistrare efectuata cu succes - mesaj *@
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status) == true)
    {
        if (ViewBag.Message != null)
        {
            <br />
            <div class="alert alert-success">
                <br />
                <strong>Contul a fost creat cu succes!</strong>@ViewBag.Message
            </div>
        }
    }

    @* inregistrare neefectuata - form si mesaj de eroare *@
    else
    {
        using (Html.BeginForm("ContNouAngajat", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div style="text-align:center;">
                <h4 class="subtitlu">Inregistrează-te pentru a încărca un CV</h4>
                <hr />
                <h4 class="subtitlu" style="font-weight:bold; color:darkslategrey; opacity:0.75;">Date pentru autentificare pe site</h4>
            </div>

            <div class="aliniament-cp">
                @* E-mail *@
                <div class="form-group">
                    @Html.LabelFor(m => m.Utilizator.email, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Utilizator.email, new { placeholder = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Utilizator.email, "", new { @class = "text-danger" })
                        @* eroare e-mail existent*@
                        @Html.ValidationMessage("ExistaEmail", new { @class = "text-danger" })
                    </div>
                </div>

                @* Parola *@
                <div class="form-group">
                    @Html.LabelFor(m => m.Utilizator.parola, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Utilizator.parola, new { placeholder = "Introduceti Parola", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Utilizator.parola, "", new { @class = "text-danger" })

                    </div>
                </div>

                @* Confirmare Parola  *@
                <div class="form-group">
                    @Html.LabelFor(m => m.Utilizator.confirma_parola, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Utilizator.confirma_parola, new { placeholder = "Confirmare Parola", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Utilizator.confirma_parola, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div style="text-align:center;">
                    <hr />
                    <h4 class="subtitlu" style="font-weight:bold; color:darkslategrey; opacity:0.75;">Detalii profil</h4>
                </div>
                
                @* Prenume *@
                <div class="form-group">
                    @Html.LabelFor(m => m.Utilizator.prenume_utilizator, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Utilizator.prenume_utilizator, new { placeholder = "Prenume", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Utilizator.prenume_utilizator, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Nume *@
                <div class="form-group">
                    @Html.LabelFor(m => m.Utilizator.nume_utilizator, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Utilizator.nume_utilizator, new { placeholder = "Nume", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Utilizator.nume_utilizator, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Oraș *@
                <div class="form-group">
                    @Html.LabelFor(m => m.Utilizator.oras, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Utilizator.oras, new { placeholder = "Orasul in care locuiti", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Utilizator.oras, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Telefon *@
                <div class="form-group">
                    @Html.LabelFor(m => m.Utilizator.telefon, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.Utilizator.telefon, new { placeholder = "Telefon", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Utilizator.telefon, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Data Nașterii *@
                <div class="form-group">
                    @Html.LabelFor(m => m.Utilizator.data_nasterii, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.EditorFor(m => m.Utilizator.data_nasterii, new { htmlAttributes = new { placeholder = "Data Nasterii", @style = "width:290px;", @class = "form-control" } })
                        <p></p>
                        @Html.ValidationMessageFor(m => m.Utilizator.data_nasterii, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Sex *@
                <div class="form-group">
                    @Html.LabelFor(m => m.Utilizator.sex, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.DropDownList("Utilizator.sex", new SelectList(Enum.GetValues(typeof(Sex_Utilizator))), "Alege",
                        new { @class = "form-control" })
                    </div>
                </div>

                @* Domenii de Lucru de Interes*@
                <div class="form-group">
                    @Html.Label("Domenii de interes*:", new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @if (Model.ListaDomenii != null)
                        {
                            @*<select asp-for="DomeniiSelectateIds" class="form-control chosen-select" asp-items="Model.ListaDomenii" multiple>
                    </select>*@
                            @Html.DropDownList("DomeniiSelectateIds", Model.ListaDomenii, new { @class = "col-md-5 control-label chosen-select", multiple = "" })
                            <div style="font-size:smaller">Te rugăm să selectezi cel puțin un domeniu</div>
                        }
                        else // nu se intra aici
                        {
                            //@Html.DropDownList("DomeniiSelectateIds", Model.ListaDomenii, new { @class = "col-md-5 control-label chosen-select", multiple = "" })
                            <div style="color:firebrick">Te rugăm să selecteazi unul sau mai multe domenii</div>
                        }
                    </div>
                </div>
            </div>

            @* Creare Cont *@
            <div class="form-group" style="margin-right:1%;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default button" value="Creează cont" />
                </div>
            </div>
        }

        if (ViewBag.Message != null)
        {
            <br />
            <div class="alert alert-danger">
                <br />
                <strong>Eroare!</strong>@ViewBag.Message
            </div>
        }
    }

    @* spre Login *@
    <div style="text-align:center; padding-bottom: 30px;">
        @Html.ActionLink("Ai deja un cont? Conecteaza-te.", "IntraInContAngajat", "Account", null, new { @class = "btn" })
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</body>

@*-----------------------------------css---------------------------------*@
<style type="text/css">
    .titlu {
        margin-left: 46%;
        display:inline-block;
        margin-bottom: 2%;
        font-family:  'Lato', sans-serif;
        font-weight: bold;
    }

    .subtitlu {
        /*margin-left: 37%;*/
        display:inline-block;
        margin-bottom: 2%;
        font-family: 'Lato', sans-serif;
    }

    .button {
        position: relative;
        margin-top: 1%;
        margin-left: 36%;
        margin-bottom: 2%;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        background-color: white;
        color: darkcyan;
    }

    .btn{
        display: inline-block;
    }

    /*aliniament-cp {
        margin-top: 1%;
        margin-left: 40%;
        margin-bottom: 2%;
    }*/

    .row {
        opacity: 0.9;
    }
</style>

@* selectare domenii de interes multiple *@
<script type="text/javascript">
    $('.chosen-select').chosen();
</script>


@*----------------------------- cod nefolosit -------------------------*@

@*<div class="form-group">*@
@*@Html.Label("Domenii de interes:", new { @class = "col-md-5 control-label" })*@
@*<div class="col-md-7">*@
@*<select class="form-control chosen-select" multiple="">
        <option disabled> Selecteaza domenii </option><option>Achizitii - Logistica</option><option>Administratie - Stiinte politice</option><option>Agricultura</option><option>Altele</option><option>Arhitectura - Design - Proiectare</option><option>Asigurari - Intermedieri financiare</option><option>Banci</option><option>Chimie - Petrochimie</option><option>Constructii</option><option>Contabilitate - Finante</option><option>Cotrolul calitatii</option><option>Customer support - Client service</option><option>Educatie - Training</option><option>Farmacie - Medicina</option><option>Fundatii - Voluntariat - ONG</option><option>Imobiliare - Real Estate</option><option>Import-Export</option><option>Inginerie</option><option>Internet - eCommerce</option><option>Internship</option><option>IT Hardware</option> <option>IT Software</option><option>Juridic</option><option>Management - Consultanta</option><option>Marketing</option><option>Media - Jurnalism</option><option>Productie</option><option>Publicitate - Agentii publicitate</option><option>Radio - Televiziune</option><option>Relatii Publice</option><option>Resurse Umane</option><option>Secretariat - Administrativ</option><option>Telecomunicatii</option><option>Transporturi</option><option>Turism</option><option>Vanzari</option>
    </select>*@
@*</div>
    </div>*@