@model SistemRecrutare.Models.ResetareParola
@{
    ViewBag.Title = "Resetare parola";
}

<br />
<br />
<br />
<div class="row" style="background-color:white;">
    <h2 style="text-align:center;">@ViewBag.Title</h2>

    @using (Html.BeginForm("ResetareParolaAngajator", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4></h4>
        <hr />

        <div class="text-info" style="text-align:center;">
            @ViewBag.Mesaj
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ParolaNoua, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.ParolaNoua, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ParolaNoua, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmaParola, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.ConfirmaParola, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmaParola, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.HiddenFor(model => model.CodReset)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Salvare" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
