@model SistemRecrutare.Models.JobModel

@{
    ViewBag.Title = "Administrare - Creare job";
}

 @*row mare*@
<div class="row" style="background-color:white">
    @*row 1*@
    <div class="row">
       <br /><br />
   </div>

    @*row 2*@
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-5">
            <h2 style="font-family:'Calibri'; padding-left: 40px; font-weight:bold;">Job nou</h2>
        </div>
    </div>

    @*row 3*@
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            @*@Html.ActionLink("Inapoi la Lista", "ListaAdmin")*@
            <a href='@Url.Action("ListaAdmin", "Job")'>
                <img src='@Url.Content("~/Content/Img/back2.png")' width="55" height="55" />
                <text style="font-family:'Calibri'; font-weight:bold;">Inapoi la Lista</text>
            </a>
        </div>
    </div>

    @*row 4*@
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-5">
            <h4 style="font-family:'Calibri'">Adaugati in lista de joburi</h4>
        </div>
    </div>

    @*row 5*@
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">

            @using (Html.BeginForm("Creare", "Job", FormMethod.Post, new
            {
                enctype = "multipart/form-data"
            }))
            {
                @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr />

                @* adaugare campuri: *@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @* Denumire Job *@
                <div class="form-group">
                    @Html.LabelFor(model => model.denumire_job, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.denumire_job, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.denumire_job, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Cod *@
                <div class="form-group">
                    @Html.LabelFor(model => model.cod_job, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cod_job, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cod_job, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Data Creare *@
                <div class="form-group">
                    @Html.LabelFor(model => model.data_creare_job, new { @class = "col-md-2 control-label" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.data_creare_job, new { placeholder = "Data Creare", @class = "form-control" })
                        <p></p>
                        @Html.ValidationMessageFor(model => model.data_creare_job, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Data Expirare *@
                <div class="form-group">
                    @Html.LabelFor(model => model.data_expirare_job, new { @class = "col-md-2 control-label" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.data_expirare_job, new { placeholder = "Data Expirare", @class = "form-control" })
                        <p></p>
                        @Html.ValidationMessageFor(model => model.data_expirare_job, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Angajator *@
                <div class="form-group">
                    @Html.LabelFor(model => model.angajator, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.angajator, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.angajator, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Tara *@
                <div class="form-group">
                    @Html.LabelFor(model => model.tara, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tara, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tara, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Oras *@
                <div class="form-group">
                    @Html.LabelFor(model => model.oras, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.oras, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.oras, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Imagine Descriptiva *@
                <div class="form-group">
                    @Html.LabelFor(model => model.imagine_job, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="imagine" />
                    </div>
                </div>

                @* Descriere/Despre *@
                <div class="form-group">
                    @Html.LabelFor(model => model.descriere_job, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.descriere_job, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descriere_job, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* Creeaza job *@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Creeaza" class="button btn btn-default" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

</div>

@*------------------------------------------------------------*@
@*-----------------------------css----------------------------*@
<style type="text/css">
    .button {
        position: relative;
        margin-top: 1%;
        margin-left: 10%;
        margin-bottom: 2%;
        background-color: white;
        color: darkcyan;
    }
</style>
