
@model System.Data.DataTable
@{
    ViewBag.Title = "Detalii";
}

<body style="background-color:white;">
    <div class="row">
        <br /><br /> <br />

        @* Detalii Job *@
    <div class="cv-1">
        @for (int i = 1; i <= Model.Rows.Count; i++)
        {
            <div class="" style="text-align:left; padding-left:45px; padding-top:25px;">
                @if (Model.Rows[i - 1][5].ToString() != "")
                {
                    var base64 = Convert.ToBase64String((byte[])Model.Rows[i - 1][5]);
                    var imgsrc = string.Format("data::image/jpg;base64,{0}", base64);

                    <img src='@imgsrc' style="max-width:240px; max-height:170px" class="imageclass" />
                }
                else
                {
                    <img src="~/Content/Img/jobs1.png" style="max-width:240px; max-height:170px" class="imageclass" />
                }
                <h1 class="data">Rol:</h1>
                <h1 style="color:darkcyan; font-family:'Lato', sans-serif; width: 300px;"> @Model.Rows[i - 1][1]</h1>
                <p class="angajator">@Model.Rows[i - 1][4]</p>
                <p class="data">Data adăugare: @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(Model.Rows[i - 1][7]))</p>
                <p class="">
                    <b>@Model.Rows[i - 1][10]</b>
                </p>
                <p class="data">Expiră la: @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(Model.Rows[i - 1][3]))</p>
                <p class="descriere">
                    <b>Descriere și Cerințe</b> <br />
                    @Model.Rows[i - 1][6]
                </p>
                <p hidden>@Model.Rows[i - 1][2]</p><br />
            </div>

            <div class="cv-2" style="text-align:left; padding-left:45px;">
                <p class="data">Email aplicant: @Model.Rows[i - 1][14]</p>
                <p class="data">Data aplicare: @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(Model.Rows[i - 1][15]))</p>
            </div>
            @* Detalii Documente incarcate *@
            <div class="" style="text-align:right; padding-right: 180px;">
                <h2 style="margin-top: -560px; color:darkslategrey; font-family:'Lato', sans-serif;">Documente încărcate de aplicant</h2>
            </div>

            <div class="form-group" style="padding-left: 275px;">
                <div>
                    @Html.Action("DetaliiCV", "CV", new { @email = @HttpContext.Current.Application["Email"] })
                </div>
            </div>
            <br />
            <hr />
        }

    </div>
    </div>
</body>

@*------------------------------------------------------------*@
@*-----------------------------css----------------------------*@
<style type="text/css">

    .titlu {
        margin-left: 45%;
        margin-bottom: 2%;
        font-family: 'Lato', sans-serif;
        color: darkslategray;
        font-weight: bolder;
    }

     @* continut *@
    .wrapper-centru{
        text-align:center;
        padding-left:30px;
        padding-right:30px;
    }

     @* div cv-1 *@
    .cv-1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 1120px;
        margin-left: 9px;
        margin-right: 9px;
        text-align: center;
        font-family: arial;
        transition: 0.3s;
        padding-left: 50px;
        padding-right: 10px;
        padding-top: 55px;
        padding-bottom: 60px;
    }

    .cv-1:hover{
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .angajator {
          color: orangered;
          font-size: 22px;
          height: 25px;
    }

     .data {
          height: 12px;
          color: gray;
    }

    .descriere {
        height: 50px;
        width: 300px;
     }

    .cv-1 a:visited {
        color: white;
    }

      .cv-2 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 340px;
        margin-left: 9px;
        margin-right: 9px;
        text-align: center;
        font-family: arial;
        transition: 0.3s;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .cv-2:hover{
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
</style>
@*-------------------------------------------------------------*@


