@model System.Data.DataTable
@*Tabel joburi*@
@{
    ViewBag.Title = "Joburi";
}

<div class="row" style="background-color:white">
    <br /><br />
    <h2 class="titlu">Joburi</h2>
    <br />

    <div style="overflow-x:auto;">
        <table class="table table-bordered table-striped table-page-position">
            <tr>
                <th >Nr. crt</th>
                <th >Denumire Job</th>
                <th >Cod </th>
                <th >Data Limita/Expirare Job</th>
                <th >Angajator</th>
                <th> </th>
            </tr>

            @*date tabel*@
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr style="max-height: 120px;">
                    <td style="max-width: 8px;">@(i + 1).</td>
                    <td style="max-width: 120px;">
                        @Model.Rows[i][1]
                        <div style="overflow-x:auto;">
                            <table>
                                <tr>
                                    <td style="font-weight:normal; font-size:small; font-family:'Comic Sans MS'">
                                        Despre
                                    </td>
                                </tr>
                                <tr>
                                    <td style="max-width: 130px;">
                                        @Model.Rows[i][6]
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="max-width: 100px;">@Model.Rows[i][2]</td>
                    <td style="max-width: 90px;">@Model.Rows[i][3]</td>
                    <td style="max-width: 130px;">@Model.Rows[i][4]</td>
                    <td>
                        @if (Model.Rows[i][5].ToString() != "")
                        {
                            var base64 = Convert.ToBase64String((byte[])Model.Rows[i][5]);
                            var imgsrc = string.Format("data::image/jpg;base64,{0}", base64);

                            <img src='@imgsrc' style="max-width:150px; max-height:150px" class="imageclass" />
                        }
                        else
                        {
                            <img src="~/Content/Img/jobs1.png" style="max-width:150px; max-height:150px" class="imageclass" />
                        }
                    </td>

                    <td style="max-width: 110px;">
                        @* coloana editare *@
                        <a href="@Url.Action("Edit","Job", new { @cod_job = Model.Rows[i][2]})">Editeza</a>
                    </td>
                </tr>
            }
        </table>
    </div>

    <a href="@Url.Action("Creare","Job")">
        <input type="button" class="button btn-default" value="Adauga Job" style="color:darkcyan" />
    </a>
</div>


@*------------------------------------------------------------*@
@*-----------------------------css----------------------------*@
<style type="text/css">
    .button {
        position: relative;
        margin-top: 1%;
        margin-left: 40%;
        margin-bottom: 2%;
        font-family: 'Berlin Sans FB';
        background-color: white;
    }

    .titlu {
        margin-left: 40%;
        margin-bottom: 2%;
        font-family: 'Berlin Sans FB';
    }

    @* tabel *@
    .table-page-position {
        margin-left: 0.15%;
        margin-right: 0.8%;
    }

    th{
        font-family:'Comic Sans MS';
    }

    @* imagine job *@
    .imageclass{
        max-width: 100%;
        border-radius: 1px;
    }
</style>
@*------------------------------------------------------------*@

<script>
</script>