@*@model System.Data.DataTable*@
@model IEnumerable<SistemRecrutare.Models.job>

@* Tabel joburi -- vedere admin *@

@{
    ViewBag.Title = "Joburi";
}

    <head>
        @*-----------------------------------------------------------------*@
        @*--------------------------------css------------------------------*@

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
        <style type="text/css">
    .button {
        position: relative;
        margin-top: 1%;
        margin-left: 40%;
        margin-bottom: 2%;
        font-family: 'Berlin Sans FB';
        background-color: white;
    }

    .titlu {
        /*margin-left: 56%;*/
        display: inline-block;
        margin-bottom: 2%;
        font-family: Calibri;
        color: darkslategray;
        font-weight: bolder;
    }

    @* tabel *@
    .table-page-position {
        margin-left: 0.15%;
        margin-right: 0.8%;
        border-collapse: collapse;
    }

    .tabel-job-header{
        background-color: rebeccapurple;
        color: white;
        font-size: 18px;
        letter-spacing: 0.03em;
        border-radius: 4px;
        max-width: 190px;
        text-align: center;
        opacity: 0.95;
    }

    @* imagine job *@
    .imageclass{
        max-width: 100%;
        border-radius: 1px;
    }

    tbody tr:hover {
        background-color: rgba(226, 204, 235, 0.56);
        cursor: default;
    }

        @* editare *@
    .editare:hover {
        opacity: 0.8;
    }


        @* adaugare *@
    .adaugare:hover {
        opacity: 0.85;
        height: 63px;
        width: 63px;
        cursor: pointer;
    }

        @* search *@
      .search-box {
        position: relative;
        float: right;
    }

         .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }

         .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }
        </style>
        @*-----------------------------------------------------------------*@

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script @*type="text/javascript"*@>
            $(document).ready(function () {
                $("#inputCautare").click(function () {
                    var CautaDupa = $("#cauta_dupa").val();
                    var ValCautare = $("#Cauta").val();
                    var SeteazaInregistrari = $("#inregistrari");
                    SeteazaInregistrari.html("");
                    $.ajax({
                        type: "post",
                        url: "/Job/Cautare?CautaDupa=" + CautaDupa + "&ValCautare=" + ValCautare,
                        contentType: "html",
                        success: function (rezultat) {
                            if (rezultat.length == 0) {
                                SeteazaInregistrari.append('<tr style="color:red;"><td colspan="3">Nu exista inregistrari</td></tr>')
                            }
                            else {
                                $.each(rezultat, function (index, valoare) {
                                    var Data = "<tr>" +
                                        "<td>" + " " + "</td>" +
                                        "<td>" + valoare.denumire_job + "<table> <tr><td>Despre</td></tr> <tr><td>" + valoare.descriere_job + "</td></tr></table></td>" +
                                        "<td>" + valoare.cod_job + "</td>" +
                                        //"<td>" + valoare.descriere_job + "</td>" +                       
                                        "<td>" + new Date((valoare.data_creare_job).toString()) + "</td>" +
                                        "<td>" + " " + "</td>" +                                     
                                        "<td>" + valoare.angajator + "</td>" +
                                        "<td>" + valoare.tara + "</td>" +
                                        "<td>" + valoare.oras + "</td>" +
                                        "<td>" + " " + "</td>" +
                                        "<td>" + " " + "</td>" +
                                        "</tr>";
                                    SeteazaInregistrari.append(Data);
                                });
                            }
                        }
                    });
                });
            });
        </script>
    </head>

<body style="background-color:white">
    <div class="row" style="background-color:white">
        @* titlu *@
        <div style="padding-top: 60px; text-align: center;">
            <h2 class="titlu">JOBURI - PANOU</h2>
        </div>

        @* butoane *@
    <div class="row" style="padding-top: 20px;">
        <div @*class="col-md-2"*@ style="margin-left: 66%; margin-bottom: -37px;">
            <a href="@Url.Action("Creare", "Job")" title="Adauga job">
                <img src="~/Content/Img/add2.png" style="width:40px; height:40px" class="adaugare" />
            </a>
        </div>

        @using (Html.BeginForm("ListaAdmin", "Job", new { @angajator = @HttpContext.Current.Application["Nume"] }, FormMethod.Get))
        {
            <div @*class="col-md-4"*@ style="margin-right: 10%; padding-bottom: 50px;">
                <div class="search-box">
                    <i class="material-icons">&#xE8B6;</i>
                    @Html.TextBox("val_cautare", null, new { @class = "form-control", @placeholder = "Cauta...", @angajator = @HttpContext.Current.Application["Nume"] })
                </div>
            </div>
        }

        @*search categorii*@
    @*<select id="cauta_dupa">
        <option value="Denumire Job">Denumire Job</option>
        <option value="Cod">Cod</option>
        <option value="Tara">Tara</option>
        <option value="Oras">Oras</option>
        <option value="Descriere">Descriere</option>
    </select>
        <br />

        @Html.TextBox("Cauta")
        <input type="submit" id="inputCautare" value=" Cauta " placeholder="Cautati un cuvant...">*@
    </div>

        @* tabel *@
        <div style="overflow-x:auto;" class="row">
            <table class="table table-bordered table-page-position" id="tabel-joburi">
                <thead>
                    <tr>
                        <th class="tabel-job-header">Nr. crt</th>
                        <th class="tabel-job-header">Denumire Job</th>
                        <th class="tabel-job-header">Cod </th>
                        <th class="tabel-job-header">Data Creare</th>
                        <th class="tabel-job-header">Data Limita</th>
                        <th class="tabel-job-header">Angajator</th>
                        <th class="tabel-job-header">Tara</th>
                        <th class="tabel-job-header">Oras</th>
                        <th class="tabel-job-header">Imagine </th>
                        <th class="tabel-job-header">Actiuni </th>
                    </tr>
                </thead>

                <tbody class="row" id="inregistrari">
                    @*@for (int i = 0; i < Model.Rows.Count; i++)*@
                    @{int rand = 0;}

                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="12" style="color:red; padding-left: 20px;">Nu au fost gasite inregistrari</td>
                        </tr>
                    }

                    else
                    {
                        foreach (var job in Model)
                        {
                            <tr style="max-height: 100px; max-width:900px;">
                                <td style="max-width: 12px; text-align:center;">@{rand++;} @rand</td>
                                <td style="max-width: 100px;">
                                    @*@Model.Rows[i][1]*@
                                    @job.denumire_job
                                    <div style="overflow-y:auto">
                                        <table>
                                            <tr>
                                                <td style="font-weight:bold; font-size:medium; font-family:Calibri">
                                                    Despre
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="max-width: 200px;">
                                                    @*@Model.Rows[i][6]*@
                                                    @job.descriere_job
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td style="max-width: 90px;">
                                    @*@Model.Rows[i][2]*@ @job.cod_job
                                </td>
                                <td style="max-width: 180px;"> @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(job.data_creare_job)) </td>
                                <td style="max-width: 180px;">@*@Model.Rows[i][3]*@ @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(job.data_expirare_job))</td>
                                <td style="max-width: 130px;">@*@Model.Rows[i][4]*@ @job.angajator</td>
                                <td style="max-width: 130px;"> @job.tara</td>
                                <td style="max-width: 130px;"> @job.oras</td>
                                <td>
                                    @if (@job.imagine_job != null)
                                    {
                                        var base64 = Convert.ToBase64String((byte[])job.imagine_job);
                                        var imgsrc = string.Format("data::image/jpg;base64,{0}", base64);

                                        <img src='@imgsrc' style="max-width:140px; max-height:150px; padding-left: 25px;" class="imageclass" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/Img/jobs1.png" style="max-width:140px; max-height:150px; padding-left: 25px;" class="imageclass" />
                                    }
                                </td>

                                <td style="max-width: 100px;">
                                    <table class="table-bordered">
                                        <tr>
                                            <td style="max-width: 40px;">
                                                @* coloana editare *@
                                                <a href="@Url.Action("Editare", "Job", new { @cod_job = @*Model.Rows[i][2]*@ @job.cod_job})">
                                                    <img src="~/Content/Img/edit2.png" height="33" width="33" class="editare" />
                                                </a>
                                            </td>

                                            <td style="max-width: 40px;">
                                                @* coloana stergere *@
                                                <a href="@Url.Action("Stergere", "Job", new { @cod_job = @job.cod_job, @class = "delete", @toggle="tooltip" })">
                                                    <i class="material-icons">&#xE872;</i>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>