@model IEnumerable<SistemRecrutare.Models.job>

@{
    ViewBag.Title = "Joburi";
}

<div class="row" style="background-color:white">
    <br /><br />
    <h2 class="titlu">Căutări</h2>
    <br />

    <div class="wrapper-centru">
        @{int i = 0;}

        @if (Model.Count() == 0)
        {
        <div style="color:red; padding-left: 20px; padding-bottom:120px;">
            Nu a fost găsit niciun rezultat.<br/>
            <img src="~/Content/Img/sad-icon.png" style="max-width:140px; max-height:70px" class="imageclass" />
        </div>
        }

        else
        {
            foreach (var job in Model)
            {
                <span>@{i++;}</span>

                <div class="job" style="height:520px; display:inline-block;">
                    @if (job.imagine_job.ToString() != "")
                    {
                        var base64 = Convert.ToBase64String((byte[])job.imagine_job);
                        var imgsrc = string.Format("data::image/jpg;base64,{0}", base64);

                        <img src='@imgsrc' style="max-width:240px; max-height:170px" class="imageclass" />
                    }
                    else
                    {
                        <img src="~/Content/Img/jobs1.png" style="max-width:240px; max-height:170px" class="imageclass" />
                    }
                    <h1 style="color:darkcyan; font-family:'Lato', sans-serif"> @job.denumire_job</h1>
                    <p class="angajator">@job.angajator</p>
                    <p class="">Disponibil în: @job.tara @job.oras</p>
                    <p class="data">Expiră la @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(job.data_expirare_job))</p>
                    <p class="descriere">
                        <b>Tip Job</b> <br />
                        @if (job.norma_job == "0")
                        {
                            job.norma_job = "Fulltime";
                        }
                        @if (job.norma_job == "1")
                        {
                            job.norma_job = "Partime";
                        }
                        @if (job.norma_job == "2")
                        {
                            job.norma_job = "Remote";
                        }
                        @if (job.norma_job == "3")
                        {
                            job.norma_job = "Internship";
                        }
                        @if (job.norma_job == "4")
                        {
                            job.norma_job = "Practica";
                        }

                        @job.norma_job
                    </p>
                    <p hidden>@job.cod_job</p><br />
                    <p>
                        <button>
                            <a href="@Url.Action("AplicaLaJob", "Job", new { @cod_job = job.cod_job, @class = "text-buton" })">
                                Arată Detalii
                            </a>
                        </button>
                    </p>
                </div>

                if (i != 0 && i % 3 == 0)
                {
                    <hr />
                }
            }
        }
    </div>
</div>


@*------------------------------------------------------------*@
@*-----------------------------css----------------------------*@
<style type="text/css">

    .titlu {
        margin-left: 45%;
        margin-bottom: 2%;
        font-family: 'Lato', sans-serif;
        color: darkslategray;
        font-weight: bolder;
    }

    @* imagine job *@
    .imageclass{
        max-width: 100%;
        border-radius: 1px;
    }

     @* continut *@
    .wrapper-centru{
        text-align:center;
        padding-left:30px;
        padding-right:30px;
    }

     @* div job *@
    .job {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 320px;
        margin-left: 9px;
        margin-right: 9px;
        text-align: center;
        font-family: arial;
        transition: 0.3s;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .job:hover{
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .angajator {
          color: orangered;
          font-size: 22px;
          height: 25px;
    }

     .data {
          height: 12px;
          color: gray;
    }

    .descriere {
        height: 50px;
     }

    .job button {
        border: none;
        outline: 0;
        padding: 8px;
        color: white;
        background-color: orangered;
        text-align: center;
        cursor: pointer;
        width: 50%;
        font-size: 18px;
        border-radius: 12px;
    }

     .job button:hover {
         opacity: 0.88;
     }

     .text-buton{
         color: white;
     }

     .job a {
        color: white;
    }

    .job a:visited {
        color: white;
    }
</style>
@*-------------------------------------------------------------*@

